@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
.dark-mode {
    background-color: rgb(12, 12, 23);
    color: white;
}

body {
    font-family: "Manrope", sans-serif;
}
